# Public packages from npmjs
registry=https://registry.npmjs.org/

# Your scoped packages from Azure Artifacts
@cadai:registry=https://pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/registry/
//pkgs.dev.azure.com/cadai/Socle/_packaging/PXS-NG-CORE/npm/:always-auth=true