.pxs-wf-root {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 12px;
}
.pxs-wf-palette {
  border-right: 1px solid #e0e0e0;
  padding-right: 12px;
}
.pxs-wf-canvas {
  width: 100%;
  height: 640px;
  display: block;
}
