<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isOpen" class="side-nav" [fixedInViewport]="true">
    <div class="nav-title">Navigation</div>

    <mat-nav-list class="menu-list">
      @for (item of menuItems; track item.route) {
        <a
          mat-list-item
          [class.isDark]="isDark$ | async"
          class="menu-link"
          [routerLink]="item.route"
          routerLinkActive="active"
          [matTooltip]="!isOpen ? item.label : ''"
          matTooltipPosition="right"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="menu-label">{{ item.label | translate }}</span>
        </a>
      }
    </mat-nav-list>

    <div class="switchers-trigger" [class.collapsed]="!isOpen">
      <button
        mat-button
        class="quick-settings"
        (click)="openSwitchers()"
        matTooltip="{{ 'quick_settings' | translate }}"
        [matTooltipPosition]="isOpen ? 'above' : 'right'"
        aria-label="Open quick settings"
      >
        <mat-icon>tune</mat-icon>
        @if (isOpen) {
          <span class="btn-label">{{ 'quick_settings' | translate }}</span>
        }
      </button>
    </div>

    <!-- Dialog content -->
    <ng-template #switchersTpl>
      <div class="switchers-dialog">
        <!-- Theme -->
        <app-toggle [field]="themeField" [control]="themeControl"></app-toggle>

        <!-- Language -->
        <app-select [field]="langField" [control]="langControl"></app-select>

        <!-- AI Scope / Key / Value -->
        <ng-container *ngIf="showAiScope">
          <app-select [field]="aiScopeField" [control]="aiScopeControl"></app-select>
        </ng-container>

        <ng-container *ngIf="showAiKey">
          <app-select [field]="aiKeyField" [control]="aiKeyControl"></app-select>
        </ng-container>

        <ng-container *ngIf="showAiValue">
          <app-select [field]="aiValueField" [control]="aiValueControl"></app-select>
        </ng-container>
      </div>
    </ng-template>

    <!-- USER PANEL -->
    @if (profile$ | async; as p) {
      <div class="user-panel" [class.collapsed]="!isOpen">
        <button
          mat-button
          class="user-trigger"
          [matMenuTriggerFor]="userMenu"
          [attr.aria-label]="displayName(p)"
        >
          <mat-icon class="avatar">account_circle</mat-icon>
          @if (isOpen) {
            <div class="user-meta">
              <div class="user-name">{{ displayName(p) }}</div>
              <div class="user-email">{{ p.email }}</div>
            </div>
          }
        </button>

        <mat-menu #userMenu="matMenu">
          @for (r of (roles$ | async) ?? []; track r) {
            <p mat-menu-item>{{ r }}</p>
          }
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>{{ 'Logout' | translate }}</span>
          </button>
        </mat-menu>
      </div>
    }

    <div class="version-wrapper">
      <small class="version">v{{ version }}</small>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">{{ title$ | async }}</span>
    </mat-toolbar>

    <main class="app-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
